* {
    margin: 0;
    padding: 0;
}
html{
    background-color: #F2F2F2;
}
body{
    margin: 0 auto;
    background-color: #F8F8F8;
    font-family: "TTLakes-Regular";
    color: #1B1C21;
    letter-spacing: -0.2px;
}
header{
    background-color: #fff;
    border-bottom: 1px solid #D9FFF5;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
footer{
    border-top: 1px solid #D9FFF5;
}
.wrapper{position: relative;
overflow-y: hidden;}
.container{
    display: flex;
    flex-direction: column;
    gap: 24px;
    transition: 1s;
}
.container--section{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

@media (min-width: 768px) {
    body{
        width: 768px;
    }
    .container{
        gap: 32px;
    }
    .container--section{
        gap: 24px;
    }
}

@media (min-width: 1440px) {
    body{
        width: 1440px;
    }
    header{
        display: none;
    }
    .container{
        position: relative;
        left: 320px;
        width: 1120px;
        padding-top: 42px;
        gap: 50px;
        opacity: 1;
    }
}