.modal{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0; right: 0;
    transform: translate(100%);
    transition: 1s;
    opacity: 0;
    visibility: hidden;
    z-index: 20;
}
.modal--active{
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
}
.modal__container{
    display: flex;
    flex-direction: column;
    gap: 24px;
    box-shadow: -2px 0px 4px rgba(69, 79, 126, 0.02), 16px 0px 52px rgba(14, 24, 80, 0.2);
    background: $color-background;
    width: 320px;
    min-height: 100%;
    margin-left: auto;
    overflow-y: auto;
}
.modal__container::-webkit-scrollbar{
    height: 0;
}
.modal__container::before{
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0; left: 0;
    background: $color-background;
    opacity: 0;
    z-index: -1;
    transition: 1s;
}
.modal__container .menu{
    margin-top: $margin-m;
}
.modal--active .modal__container::before{
    opacity: 0.96;
}
.modal__title{
    font-family: "TTLakes-Bold";
    font-size: $text-size-x;
    letter-spacing: -0.6px;
    line-height: $line-height-x;
    padding-left: 12px;
    border: 4px solid transparent;
    border-left: 4px solid $color-border-title;
}

.form{
    font-family: "TTLakes-Medium";
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin: 0 $margin-s;
}
.form__elem{
    font-family: "TTLakes-Medium";
    padding: 12px $padding-s;
    background: $color-background;
    border: 1px solid $color-border;
    border-radius: 8px;
    font-size: $text-size-m;
    line-height: $line-height-m;
    letter-spacing: -0.2px;
    color: $color-bullet-active;
}
.form__elem:focus{
    border-color: $color-border-hover;
}
.form__text{
    font-size: $text-size-s;
    line-height: $line-height-s;
    color: $color-text-lighter;
}
.form__text a{
    color: $color-text-attention;
    transform: scale(1);
    transition: 0.15s;
}
.form__text a:hover{
    transform: scale(1.1);
}
.form__button{
    align-self: flex-end;
    width: min-content;
    bottom: 16px;
    right: 16px;
    font-family: "TTLakes-Bold";
    text-transform: uppercase;
    padding: 4px 40px 4px 12px;
    border: none;
    border-radius: 16px;
    background: $color-button;
    font-size: $text-button;
    line-height: 24px;
    letter-spacing: -0.15px;
    color: $color-button-text;
    transform: scale(1);
    transition: 0.15s;
}
.form__button:hover{
    transform: scale(1.1);
}
.form__button::after{
    content: "";
    position: absolute;
    margin-left: 8px;
    width: 24px;
    height: 24px;
    background: url("../img/dropdown-white.svg") no-repeat 50% 50%;
}

@media (min-width: 1440px) {
    .modal__container{
        width: 440px;
        padding-top: $padding-x;
    }
    .modal__container .menu{
        position: absolute;
        margin-top: 0;
        top: 32px;
        right: 448px;
    }
    .modal__title{
        padding-left: 28px;
    }
    .form{
        margin: 0 $margin-x;
    }
}