* {
    margin: 0;
    padding: 0;
}
html{
    background-color: $color-html;
}
body{
    margin: 0 auto;
    background-color: $color-body;
    font-family: "TTLakes-Regular";
    color: $color-text;
    letter-spacing: -0.2px;
}
header{
    background-color: $color-background;
    border-bottom: 1px solid $color-border-divider;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
footer{
    border-top: 1px solid $color-border-divider;
}
.container{
    position: relative;
    transform: translateX();
    transition: 1s;
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.container__section{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

@media (min-width: 768px) {
    body{
        width: 768px;
    }
    .container{
        gap: 32px;
    }
    .container__section{
        gap: 24px;
    }
}

@media (min-width: 1440px) {
    body{
        width: 1440px;
    }
    header{
        display: none;
    }
    .container{
        transform: translateX(320px);
        width: 1120px;
        padding-top: 42px;
        gap: 50px;
    }
}