.service-card{
    display: flex;
    justify-content: space-between;
    padding: $padding-s;
    background: $color-background;
    border: 1px solid $color-border;
    border-radius: 6px;
    transform: scale(0.95);
    transition: 0.15s;
}
.service-card:hover{
    transform: scale(1);
    border-color: $color-border-hover;
}
.service-card--type{
    height: 128px;
    align-items: flex-end;
}
.service-card__text{
    font-family: "TTLakes-Medium";
    align-self: flex-start;
    font-size: $text-size-m;
    line-height: $line-height-m;
    color: $color-text;
}
.service-card__icon{
    position: relative;
    width: 36px;
    height: 36px;
    border: 2px solid $color-button;
    border-radius: 50%;
}
.service-card__icon img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}