.service-card{
    display: flex;
    justify-content: space-between;
    padding: $padding-s;
    background: $color-background;
    border: 1px solid $color-border;
    border-radius: 6px;
}
.service-card:hover{
    border-color: $color-border-hover;
}
.service-card--type{
    height: 128px;
    align-items: flex-end;
}

.service-card__text{
    font-family: "TTLakes-Medium";
    align-self: flex-start;
    font-size: $text-size-m;
    line-height: $line-height-m;
    color: $color-text;
}

.service-card__icon{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 36px;
    height: 36px;
    border: 2px solid $color-button;
    border-radius: 50%;
}