.modal{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0; right: 0;
    transform: translateX(100%);
    transition: 1s;
    opacity: 0;
    visibility: hidden;
    z-index: 20;
}
.modal--active{
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
}
.modal__container{
    display: flex;
    flex-direction: column;
    gap: 24px;
    box-shadow: -2px 0px 4px rgba(69, 79, 126, 0.02), 16px 0px 52px rgba(14, 24, 80, 0.2);
    background: #FFFFFF;
    width: 320px;
    min-height: 100%;
    margin-left: auto;
    overflow-y: auto;
}
.modal__container::-webkit-scrollbar{
    height: 0;
}
.modal__container::before{
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0; left: 0;
    background: #FFFFFF;
    opacity: 0;
    z-index: -1;
    transition: 1s;
}
.modal__container .menu{
    margin-top: 24px;
}
.modal--active .modal__container::before{
    opacity: 0.96;
}
.modal__title{
    font-family: "TTLakes-Bold";
    font-size: 24px;
    letter-spacing: -0.6px;
    line-height: 32px;
    padding-left: 12px;
    border: 4px solid #FFFFFF;
    border-left: 4px solid #41F6D7;
}

.form{
    font-family: "TTLakes-Medium";
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin: 0 16px;
}
.form__elem{
    font-family: "TTLakes-Medium";
    padding: 12px 16px;
    background: #FFFFFF;
    border: 1px solid #EAEAEA;
    border-radius: 8px;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: #B5B6BC;
}
.form__text{
    font-size: 14px;
    line-height: 16px;
    color: #7E7E82;
}
.form__text a{
    color: #FF3E79;
}
.form__button{
    align-self: flex-end;
    width: min-content;
    bottom: 16px;
    right: 16px;
    font-family: "TTLakes-Bold";
    text-transform: uppercase;
    padding: 4px 40px 4px 12px;
    border: none;
    border-radius: 16px;
    background: #FF3E79;
    font-size: 12px;
    line-height: 24px;
    letter-spacing: -0.15px;
    color: #FFFFFF;
}
.form__button::after{
    content: "";
    position: absolute;
    margin-left: 8px;
    width: 24px;
    height: 24px;
    background: url("../srcs/img/dropdown-white.svg") no-repeat 50% 50%;
}

@media (min-width: 1440px) {
    .modal__container{
        width: 440px;
        padding-top: 32px;
    }
    .modal__container .menu{
        position: absolute;
        margin-top: 0;
        top: 32px;
        right: 448px;
    }
    .modal__title{
        padding-left: 28px;
    }
    .form{
        margin: 0 32px;
    }
}